<h3><%= @applicant.name %></h3>
<% @applicant.pets.each do |pet| %>
  <h5><%= pet.name %><h5>
  <% if pet.status == "t" %>
    <%= "#{pet.name} has been approved" %>
  <% elsif pet.status == "f" %>
    <%= "#{pet.name} has been rejected" %>
  <% else %>
    <%= button_to "Accept #{pet.name}", "/admin/applications/#{@applicant.id}?pet_id=#{pet.id}&decision=accept", method: :patch %>
    <%= button_to "Reject #{pet.name}", "/admin/applications/#{@applicant.id}?pet_id=#{pet.id}&decision=reject", method: :patch %>
  <% end %>
<% end %>
