
<h3><%= @applicant.name %></h3>
<% @applications.each do |app| %>
  <h5><%= app.pet.name %><h5>
  <% if app.status == "Approved" %>
    <%= "#{app.pet.name} has been approved" %>
  <% elsif app.status == "Rejected" %>
    <%= "#{app.pet.name} has been rejected" %>
  <% else %>
    <%= button_to "Accept #{app.pet.name}", "/admin/applications/#{@applicant.id}?pet_id=#{app.pet.id}&decision=accept", method: :patch %>
    <%= button_to "Reject #{app.pet.name}", "/admin/applications/#{@applicant.id}?pet_id=#{app.pet.id}&decision=reject", method: :patch %>
  <% end %>
<% end %>
