<h2><%= @shelter.name %></h2>
<p>City: <%= @shelter.city %></p>

<h4>Statistics</h4>
<li><%= "Average age of adoptable pets: #{@shelter.avg_age_available_pets}" %><li>
<li><%= "Number of adoptable pets: #{@shelter.adoptable_pet_count}" %><li>
<li><%= "Number of adopted pets: #{@shelter.adopted_pet_count}" %><li>
